
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>About Us</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="img/about.jpg" alt="">
            </div>
            <div class="col-md-6">
                
                <ul style="padding: 0; margin: 0;">
				  <li>Team of experienced IT consultants with extensive experience across platforms, technologies &amp; solutions</li>
				  <li>In depth knowledge and expertise on Software Licensing Solutions &amp; Global Licensing Contracts</li>
				  <li>OEM / Vendor Agnostics Advisory Services on the following:				  
				   <ul>
				    <li>Asset Management</li>
				    <li>Cloud &amp; Business Solutions Evaluation</li>
				    <li>Total Cost of Ownership, RoI Analysis &amp; Price Benchmarking</li>
				    <li>Network Audit &amp; Optimization</li>
				    <li>Information Security</li>
				   </ul>
				  </li>
				  <li>Framework on Strategic Sourcing &amp; Optimized Procurement Services</li>
				  <li>Process &amp; Policy setup services on building a Risk-Free &amp; Compliant IT Infrastructure &amp;
				   Environment</li>
				  <li>Global Partnerships &amp; Alliances with top Software, Networking &amp; Hardware OEMs</li>
				  <li>Training &amp; Skills Assessment Services</li>
				  <li>Presence across 7+ locations in US, UK, Singapore &amp; India</li>
				 </ul> 
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
		         <h1 class="page-header">
		             <small class="page-header">Our Team</small>
		         </h1>
            </div>
            </div>
            <div class="row">
            <div class="col-md-3 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="img/bus_consultant.jpg" alt="">
                    <div class="caption">
                        <h3>
                            <small>Business Consultant</small> <a href="mailto:info@silverleafsolutions.in?Subject=Business%20Consultant%20Request" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="img/Licensing_Consultant.jpg" alt="">
                    <div class="caption">
                        <h3>
                            <small>Licensing Consultant</small> <a href="mailto:info@silverleafsolutions.in?Subject=Licensing%20Consultant%20Request" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="img/Security_Consultant.jpg" alt="">
                    <div class="caption">
                        <h3>
                            <small>IT Security Expert</small> <a href="mailto:info@silverleafsolutions.in?Subject=IT%20Security%20Expert%20Request" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="img/Network_Design_Consultant.jpg" alt="">
                    <div class="caption">
                        <h3>
                            <small>Network Design Consultant</small> <a href="mailto:info@silverleafsolutions.in?Subject=Network%20Design%20Consultant%20Request" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>
                        </h3>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-3 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="img/Technology_Evanglist.jpg" alt="">
                    <div class="caption">
                        <h3>
                            <small>Technology Evangelist</small> <a href="mailto:info@silverleafsolutions.in?Subject=Technology%20Evangelist%20Request" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="img/IT_Governance_and_Compliance_Consultant.jpg" alt="">
                    <div class="caption">
                        <h3>
                            <small>GRC Consultant</small> <a href="mailto:info@silverleafsolutions.in?Subject=IT%20Governance%20and%20Compliance%20Consultant%20Request" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="img/SDM.jpg" alt="">
                    <div class="caption">
                        <h3>
                            <small>Services Delivery Manager</small> <a href="mailto:info@silverleafsolutions.in?Subject=Services%20Engagement%20Manager%20Request" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="img/cloud_solutions_architect.jpg" alt="">
                    <div class="caption">
                        <h3>
                            <small>Cloud Solutions Architect</small> <a href="mailto:info@silverleafsolutions.in?Subject=Cloud%20Solutions%20Architect%20Request" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

