<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-7ka1{background-color:#89dbdd;vertical-align:top}
.tg .tg-p73u{font-weight:bold;font-size:14px;background-color:#89dbdd;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
</style>
<div class="container">
<div class="row">
<table class="tg">
  <tr>
    <th class="tg-p73u" colspan="3">IT Governance Services</th>
  </tr>
  <tr>
    <td class="tg-yw4l"><br>  Identification &amp; Documentation<br>  </td>
    <td class="tg-yw4l"><br>  Understanding the AS-IS situation and putting all Records of Procurement, Deployment and Management together<br>  </td>
  </tr>
  <tr>
    <td class="tg-7ka1"><br>  Evaluation<br>  </td>
    <td class="tg-7ka1"><br>  Understanding and bench-marking the Records to established and accepted Standards<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-yw4l"><br>  Compliance Testing<br>  </td>
    <td class="tg-yw4l"><br>  Putting Licensing to Test through Tools and Reconciliation<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-7ka1"><br>  Substantive Testing<br>  </td>
    <td class="tg-7ka1"><br>  Identifying the Risks that can potentially impact the established controls<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-yw4l"><br>  Disaster-Recovery Testing<br>  </td>
    <td class="tg-yw4l"><br>  Identifying the opportunity to recover after an understood disaster<br>  </td>
  </tr>
</table>
</div>
<div class="row" style="padding-top:10px">
<table class="tg">
  <tr>
    <th class="tg-p73u" colspan="3">IT Governance Managed Services</th>
  </tr>
  <tr>
    
    <td class="tg-yw4l"><br>  IT General Process Review<br>  </td>
    <td class="tg-yw4l"><br>  Business Requirements and Associated Risks<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-7ka1"><br>   <br>  </td>
    <td class="tg-7ka1"><br>  Organisation Structure<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-yw4l"><br>   <br>  </td>
    <td class="tg-yw4l"><br>  Roles and Responsibility<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-7ka1"><br>   <br>  </td>
    <td class="tg-7ka1"><br>  Policies and Procedures<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-yw4l"><br>   <br>  </td>
    <td class="tg-yw4l"><br>  Law and Regulations<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-7ka1"><br>   <br>  </td>
    <td class="tg-7ka1"><br>  Control Measures<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-yw4l"><br>   <br>  </td>
    <td class="tg-yw4l"><br>  Management Reporting<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-7ka1"><br>  Evaluating Controls<br>  </td>
    <td class="tg-7ka1"><br>  Documentation Process<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-yw4l"><br>   <br>  </td>
    <td class="tg-yw4l"><br>  Delivery Process<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-7ka1"><br>   <br>  </td>
    <td class="tg-7ka1"><br>  Responsibility &amp; Accountability<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-yw4l"><br>   <br>  </td>
    <td class="tg-yw4l"><br>  Risk Appetite and Disaster Recovery<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-7ka1"><br>  Assessing Compliance<br>  </td>
    <td class="tg-7ka1"><br>  Tool Audit &amp; Evidence Mapping<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-yw4l"><br>   <br>  </td>
    <td class="tg-yw4l"><br>  Physical Audit &amp; Evidence Mapping<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-7ka1"><br>   <br>  </td>
    <td class="tg-7ka1"><br>  Review of Workflows on IT Lifecycle Management<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-yw4l"><br>   <br>  </td>
    <td class="tg-yw4l"><br>  Improvement Areas/SWOT<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-7ka1"><br>  Guidelines and Analytics<br>  </td>
    <td class="tg-7ka1"><br>  Document all Control Weaknesses, Risks, Threats and Vulnerabilities<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-yw4l"><br>   <br>  </td>
    <td class="tg-yw4l"><br>  Grass-Root Analysis<br>  </td>
  </tr>
  <tr>
    
    <td class="tg-7ka1"><br>   <br>  </td>
    <td class="tg-7ka1"><br>  Comparatives  (If required)<br>  </td>
  </tr>
</table>
</div>

<div class="row"  style="padding-top:5px">
<p>~ Evaluating Controls: Based on Industry Standards, Critical Success Factor, Risk Profiling and Business Continuity Plan</p>
<table class="tg" style="padding-top:10px">
  <tr>
    <th class="tg-p73u"><br>  Client Management Tooling Services<br>  </th>
    <th class="tg-7ka1"><br>  Infra Review<br>  </th>
  </tr>
  <tr>
    <td class="tg-yw4l"><br>   <br>  </td>
    <td class="tg-yw4l"><br>  Deployment and Application Management<br>  </td>
  </tr>
  <tr>
    <td class="tg-7ka1"><br>   <br>  </td>
    <td class="tg-7ka1"><br>  Device Policy Framework<br>  </td>
  </tr>
  <tr>
    <td class="tg-yw4l"><br>   <br>  </td>
    <td class="tg-yw4l"><br>  Identity Management<br>  </td>
  </tr>
  <tr>
    <td class="tg-7ka1"><br>   <br>  </td>
    <td class="tg-7ka1"><br>  Compliance<br>  </td>
  </tr>
  <tr>
    <td class="tg-yw4l"><br>   <br>  </td>
    <td class="tg-yw4l"><br>  End-User Support<br>  </td>
  </tr>
</table>
</div>
</div>

<h2>End-User Computing:</h2>
<p>Its not about just managing laptops, desktops and few servers alone. It is far more than what we can even anticipate - access services, applications, data, security, etc and, if that looked just enough, location or what we call footprint - makes it just too tight. However, our customers are running an organization which means - the discussion now extends further to productivity, flexibility and how could we forget the CFO whose buss word is "Cost Saving".</p> 
<p>Usage of multiple computing devises just increases the complexity further. Licensing requirements are also equally dynamic and sometimes complex - from perpetual to now the world of cloud - Software as a Service. This is where we help with transitions and sharing your load.</p> 

<p>While in most cases the old work horse - our desktop has not changed, but our new users now want to stay connected, have access to best networks and services on press of a button. Our users have option of devises and most choose one according to their business requirement. They access applications from corporate to personal to banking. If that you thought was not enough - our users today wish to make a lot many independent IT decisions. Often inviting security threats that may not be a remote possibility.</p>

<p>We bring to the table our experience and skills - to help you find or take informed decisions - that makes your end-user-computing environment robust by each passing day. We evaluate the following:</p>

<li>Structure/Procurement/Deployment/Controls</li>
<li>Application Management</li>
<li>Policy Frameworks</li>
<li>Cost and Budgets</li>
<li>Compliance</li>
<li>Security</li>
<li>Support environment</li> 
<li>Risk Framework and Contingency Plan</li>

<p>So, what's are value preposition:</p>
<li>We bring Internationally acclaimed Standards - ISO 19770, ISO 27001-1, ITIL, Cobit.</li>
<li>Global reach - present on all continents.</li>
<li>Provide the right choices of appetite or consumption that will reduce capex, taxation, headache.</li>   
<li>We help in improving productivity as we bring collaboration between People, Process and Technology.</li>
<li>We stand with you responsible and accountable when we talk regulations or compliance. </li>
<li>Last but not the least - we drive customer delight. We bring the One-Stop One-Roof One-Call approach. We take you ahead of time.</li> 

  
<h3><b><u>People, Process and Technology Simplified:</u></b></h3> 

<p>Its all about accountability and understanding the customer's structure and processes. Hence, globally, we believe to offer the right internationally acclaimed standards and framework for end-user-computing management services.</p> 

<p>End-user-computing management is role-based on Software Asset Management having its roots in the following standards:</p>

<h3><b><u>Control Objectives for Information Technology (COBIT)</u></b></h3>
<p>A wide framework which deals with IT management and IT governance.</p>
<p>COBIT approaches SAM in several different ways but mostly focuses on governance, compliance, cost management, budgeting, security and configuration management.</p>


<h3><b><u>ITIL</u></b></h3>
<p>An approach for IT Service Management that provides a practical framework for identifying, planning, delivering and supporting IT services to the business. Based on best practices and which provide a systematic approach to the management of IT services, enabling organizations to deliver appropriate services.</p>

<h3><b><u>ISO/IEC 19770-1</u></b></h3>
<p>A framework of SAM processes covering 27 separate process areas which enable an organization to prove that it is performing software asset management to a standard sufficient to satisfy corporate governance requirements and ensure effective support for IT service management overall.</p>

<h3><b><u>Our Approach: We take it ahead of time</u></b></h3>
<p>We bring to our customers the right choice of processes backed by Client Management Tooling Services that helps customer gain visibility and, hence, plan the way forward which is cost effective and provides a roadmap.</p> 

<p>Client Management Tools (CMT) is the preferred approach in both midsize and large enterprises. Though they need to be configured strictly in-line with the established and adopted policies. Primarily CMT are used by many organizations to reduce cost of ownership, improve user productivity, increase IT efficiency and enable a secure end-user-computing environment.</p> 
<p>CMT is a fairly mature market. However, ongoing changes in end-user-computing are forcing service providers to continually innovate and evolve to address new requirements. In particular, bring your own device (BYOD), mobility, licensing fragmentation, contract management and the cloud are requiring organizations to rethink the way they manage end-user-computing environments.</p> 

<p>CMT continues to evolve most dynamically and, hence, we keep you ahead of time. While the core requirements of inventory, software distribution, OS deployment and patch management remain constant, the differentiator is the simplified self-service capabilities. With CMT as a service - our customers see self-service as a way to enhance the management experience for the user, improve the efficiency in which software is distributed and potentially help save money on software licenses. However, for the customer, it is very important to choose the right tooling service and ensure seamless deployment.</p> 

<p>CMT could be on-premise or as SaaS, though Gartner, too believes that the future state of client management will be a hybrid of on-premises and SaaS functionality. Since, multiple computing devises most of which would be mobile is the growing trend, hence we now are forced to focus on user management and not just device management. This brings in People (the User) into the charter of CMT. We give the flexibility to customers to choose the right CMT as service based on their experience from a real-time Proof of Concept.</p>

<img class="img-responsive img-hover" style="width:50%; padding-top:10px" src="../img/asset_mgmt.jpg"/>
<img class="img-responsive img-hover" style="width:50%; padding-top:10px" src="../img/asset_mgmt_2.jpg"/>
<img class="img-responsive img-hover" style="width:50%; padding-top:10px" src="../img/asset_mgmt_3.jpg"/>