    <!-- Page Content -->
    <div class="container" ng-controller = "ShowBlogCtrl">

        <div class="row">
            <div class="col-lg-12">
		         <h1 class="page-header  text-center">
		             <small>Blogs</small>
		         </h1>
            </div>
        </div>
        <!-- /.row -->
		<div ng-show="posts.length<=0"><i><h2>Yet to write.</h2></i></div>
        <!-- Blog Post Row -->
        <div class="row" ng-repeat = "post in posts | orderBy:'-updated_at' track by $index">
            <div class="col-md-2 text-center">
                <p><i class="fa fa-camera fa-4x"></i>
                </p>
                <p>{{post.created_at | date:"MM/dd/yyyy"}}</p>
            </div>
            <div class="col-md-3">
                <a href="#blog-post/{{post._id}}">
                	<img class="img-responsive img-hover" style="width:70%;" src="{{post.imagePaths}}"/>
                    <!-- <img class="img-responsive img-hover" src="{{post.imagePaths}}" alt=""> -->
                </a>
            </div>
            <div class="col-md-7">
                <h3>
                    <a href="#blog-post/{{post._id}}">{{post.postTitle}}</a>
                </h3>
                <p>by <i>{{post.username}}</i>
                </p>
                <p>{{post.sampleText}}</p>
                <a class="btn btn-primary" href="#blog-post/{{post._id}}">Read More <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Pager -->
        <!-- <div class="row">
            <ul class="pager">
                <li class="previous"><a href="#">&larr; Older</a>
                </li>
                <li class="next"><a href="#">Newer &rarr;</a>
                </li>
            </ul>
        </div> -->
        <!-- /.row -->

    </div>
    <!-- /.container -->
