
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Career
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row" ng-controller="CareerCtrl">
            <div class="col-md-8">
                <h3>Send us your profile</h3>
                <form name="up.upload_form" id="careerForm" novalidate role="form">
                <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
				<div ng-show="success" class="alert alert-success">{{successMessage}}</div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Full Name:</label>
                            <input type="text" ng-model="career.name" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Phone Number:</label>
                            <input type="tel" ng-model="career.phone" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email Address:</label>
                            <input type="email" ng-model="career.email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
		            <div class="form-group">
              			<label >Upload Resume:</label>
              			<div class="col-sm-4">
				          	<input class="form-control" id="inputName2" type="file" ngf-select ng-model="up.file" name="file" ngf-pattern="'*/*'" accept="*/*" ngf-max-size="2MB"/>
				            <i ng-show="up.upload_form.file.$error.required">*required</i><br>
				            <i ng-show="up.upload_form.file.$error.maxSize">File too large 
				            {{up.file.size / 1000000|number:1}}MB: max 2M</i>
				        </div>
		            </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Message:</label>
                            <textarea rows="10" cols="100" ng-model="career	`.message" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button class="btn btn-primary" ng-click="up.submit">Submit</button>
                </form>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
