

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Event
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#main">Home</a>
                    </li>
                    <li class="active">Event</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <hr>

                <!-- Date/Time -->
                <p><i class="fa fa-clock-o"></i> Posted on {{post.created_at}} by {{post.username}}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive img-hover" style="width:50%;" src="{{post.imagePaths}}"/>

                <hr>

                <!-- Post Content -->
                <div id="demo"></div>
                
                <hr>
                <p>Event Date & time : {{post.postDate}}</p>

            </div>

            
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
