 <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
		         <h1 class="page-header">
		             <small class="page-header">Our Services & Solutions Portfolio</small>
		         </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> ADVISORY</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                        	Today organizations face intense pressure to stay agile and responsive to a volatile business environment. Emerging technologies cloud, virtualization, mobility, big data and analytics are driving new avenues of innovations and forcing organizations to rethink the way they do business. It is critical that your IT systems are aligned and geared up to meet your business needs. For today and future.
                        </p>
                        <a href="#services" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> IT SERVICES</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                        	Complex technologies, dynamic business environments and process excellence are among the main challenges organizations face on their path to growth. Understanding the complexities of the IT environment, Silver Leaf Solutions extends its expertise in IT services to ensure that the technology is in line with your business objectives, no matter the size and nature of your organization.
                        </p>
                        <a href="#services" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> STRATEGIC RESELLING</h4>
                    </div>
                    <div class="panel-body">
                        <p>It is impossible to manage software suppliers effectively unless you can influence sourcing. The major players are so big and powerful that they usually have the upper hand in discussions about maintenance renewals and service levels. Even small software providers can build immovable, entrenched positions in their chosen niches. Silver Leaf Solutions explains how to build this connection, by creating formal categorization of your software suppliers and using it to influence software category sourcing strategies. You therefore need different people handling each side, but collaborating closely with each other.</p>
                        <a href="#services" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
		         <h1 class="page-header">
		             <small class="page-header">Partnership</small>
		         </h1>
            </div>
	            <div class="col-md-2 text-center">
	                    <img class="img-responsive" src="img/O-Gold-Partner-clrrev.png" alt="">
	            </div>
	            <div class="col-md-2 text-center">
	                <img class="img-responsive" src="img/BP_Colour_Logo.jpg" alt="">
	            </div>
	            <div class="col-md-2 text-center">
	                <img class="img-responsive" src="img/microsoft.png" alt="">
	            </div>
	            <div class="col-md-2 text-center">
	                <img class="img-responsive" src="img/Intel_Security.png" alt="">
	            </div>
        </div>
        <!-- /.row -->
        
        <div class="row" ng-controller = "ShowBlogCtrl">
            <div class="col-lg-12">
		         <h1 class="page-header text-center">
		             <small>Blogs</small>
		         </h1>
            </div>
            <div ng-repeat = "post in posts | orderBy:'-updated_at' track by $index">
	            <div class="col-md-4 text-center">
	                <div class="thumbnail">
	                    <img class="img-responsive" src="{{post.imagePaths}}" alt="">
	                    <div class="caption">
	                        <h3>{{post.postTitle}}<br>
	                            <small>{{post.username}}</small>
	                        </h3>
	                        <p>{{post.sampleText}}</p>
	                        <a class="btn btn-primary" href="#blog-post/{{post._id}}">Read More <i class="fa fa-angle-right"></i></a>
	                    </div>
	                </div>
	            </div>
	        </div>
        </div>

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>To enable business leaders with forward-thinking and simplified approach that helps drive efficient and effective IT decisions</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#contact">Contact US</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
	