 <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Our Services & Solutions Portfolio
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> ADVISORY</h4>
                    </div>
                    <div class="panel-body">
                        <p>Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample dataSample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> IT SERVICES</h4>
                    </div>
                    <div class="panel-body">
                        <p>Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample dataSample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> STRATEGIC RESELLING</h4>
                    </div>
                    <div class="panel-body">
                        <p>Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample dataSample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Blogs</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="caption">
                        <h3>John Smith<br>
                            <small>Job Title</small>
                        </h3>
                        <p>Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample dataSample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="caption">
                        <h3>John Smith<br>
                            <small>Job Title</small>
                        </h3>
                        <p>Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample dataSample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="caption">
                        <h3>John Smith<br>
                            <small>Job Title</small>
                        </h3>
                        <p>Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample dataSample data, Sample data, Sample data, Sample data, Sample data, Sample data, Sample data</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>To enable business leaders with forward-thinking and simplified approach that helps drive efficient and effective IT decisions</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Contact US</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
	