<!-- <!DOCTYPE html>
<html lang="en">

<head>

    <div w3-include-HTML="header.html"></div>

</head>

<body> -->

    <!-- Navigation -->
    <!-- <div w3-include-HTML="nav-bar.html"></div> -->
<style>

      .nav-tabs > li > a {
    border: 1px solid #000;
    font-size: 20px;
}

    </style>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Services
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Service Tabs -->
        <div class="row">
            <div class="col-lg-12">
            
            <uib-tabset active="active" >
			    <uib-tab index="0" heading="Advisory">
                       <h2>Advisory</h2>
                       <h3><p>License Advisory Services are IT consulting services that provide software licensing best practices to organizations with mid-to-large sized enterprise application portfolios such as Oracle, Microsoft, IBM, VMWare, SAP and Networking. Benefits include reduced waste, mitigated risks, increased awareness and transparency, and efficiency gains.</p></h3>
                       <p></p>
                       <uib-accordion close-others="true">
				    	<uib-accordion-group is-open="false" is-disabled="false">
					      <uib-accordion-heading>
					       Software Licensing <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					      </uib-accordion-heading>
					      <img class="img-responsive img-hover" style="width:50%; padding-top:10px" src="../img/Advisory_1.JPG"/>
					     </uib-accordion-group>
					     <uib-accordion-group>
					      <uib-accordion-heading>
					        Asset Management <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					      </uib-accordion-heading>
					      <img class="img-responsive img-hover" style="width:50%; padding-top:10px" src="../img/Advisory_2.JPG"/>
					     </uib-accordion-group>
					     <uib-accordion-group>
					      <uib-accordion-heading>
					        Strategic Sourcing <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					      </uib-accordion-heading>
					      <img class="img-responsive img-hover" style="width:50%; padding-top:10px" src="../img/Advisory_3.JPG"/>
					     </uib-accordion-group>
					     <uib-accordion-group>
					      <uib-accordion-heading>
					        Cloud <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					      </uib-accordion-heading>
						      <img class="img-responsive img-hover" style="width:50%; padding-top:10px" src="../img/Advisory_4.JPG"/>														      
						 </uib-accordion-group>
					     <uib-accordion-group>
					      <uib-accordion-heading>
					        Network Services <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					      </uib-accordion-heading>
					      	<img class="img-responsive img-hover" style="width:50%; padding-top:10px" src="../img/Advisory_5.JPG"/>
					     </uib-accordion-group>
					     <uib-accordion-group>
					      <uib-accordion-heading>
					        Technology Evangelization <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					      </uib-accordion-heading>
					      <img class="img-responsive img-hover" style="width:50%; padding-top:10px" src="../img/Advisory_6.JPG"/>
					     </uib-accordion-group>
					</uib-accordion>
			    </uib-tab>
			    <uib-tab index="1" heading="IT Services">
			    	<h2>IT Services</h2>
                        <h3><p>Complex technologies, dynamic business environments and process excellence are among the main challenges organizations face on their path to growth. Understanding the complexities of the IT environment, Silverleaf extends its expertise in IT services to ensure that the technology is in line with your business objectives, no matter the size and nature of your organization.</p></h3>
                        <uib-accordion close-others="true">
					    	<uib-accordion-group is-open="true" is-disabled="false">
						      <uib-accordion-heading>
						        <h3>Product Implementation <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !status.open, 'glyphicon-chevron-right': status.open}"></i></h3>
						      </uib-accordion-heading>
						        <img class="img-responsive img-hover" style="width:50%; padding-top:10px" src="../img/IT_Services_1.JPG"/>
						     </uib-accordion-group>
					    	<uib-accordion-group>
						      <uib-accordion-heading>
						        <h3>Cloud Deployment <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></h3>
						      </uib-accordion-heading>
						      <img class="img-responsive img-hover" style="width:50%; padding-top:10px" src="../img/IT_Services_2.JPG"/>
						      </uib-accordion-group>
					    	<uib-accordion-group>
						      <uib-accordion-heading>
						        <h3>Support & Maintenance <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></h3>
						      </uib-accordion-heading>
						      <img class="img-responsive img-hover" style="width:50%; padding-top:10px" src="../img/IT_Services_3.JPG"/>
						     </uib-accordion-group>
					    	<uib-accordion-group>
						      <uib-accordion-heading>
						        <h3>Training & Enablement <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></h3>
						      </uib-accordion-heading>
						      <img class="img-responsive img-hover" style="width:50%; padding-top:10px" src="../img/IT_Services_4.JPG"/>
						     </uib-accordion-group>
						 </uib-accordion>
			    </uib-tab>
			    <uib-tab index="2" heading="Strategic Reselling">
			    	<h2>Strategic Reselling</h2>
                        <h3><p>It is impossible to manage software suppliers effectively unless you can influence sourcing. The major players are so big and powerful that they usually have the upper hand in discussions about maintenance renewals and service levels. Even small software providers can build immovable, entrenched positions in their chosen niches. Silver Leaf Solutions explains how to build this connection, by creating formal categorization of your software suppliers and using it to influence software category sourcing strategies. You therefore need different people handling each side, but collaborating closely with each other.</p></h3>
                        
                        <uib-accordion close-others="true">
					    	<uib-accordion-group is-open="true" is-disabled="false">
						      <uib-accordion-heading>
						        <h3>Software Licenses <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></h3>
						      </uib-accordion-heading>
						      	<img class="img-responsive img-hover" style="width:50%; padding-top:10px" src="../img/Strategic_1.JPG"/>
						     </uib-accordion-group>
					    	<uib-accordion-group>
						      <uib-accordion-heading>
						        <h3>Network & Software Appliances <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></h3>
						      </uib-accordion-heading>
						      <img class="img-responsive img-hover" style="width:50%; padding-top:10px" src="../img/Strategic_2.JPG"/>
						     </uib-accordion-group>
						</uib-accordion>
			    </uib-tab>
			  </uib-tabset>

            </div>
        </div>

        

    </div>
    

<!-- </body>

</html> -->
