<div class="col-md-4">
  <h1>Reset Password</h2>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <div ng-show="success" class="alert alert-success">{{successMessage}}</div>
  <form class="form" ng-submit="submit()">
    <div class="form-group">
      <label>Username</label>
      <input type="email" class="form-control" name="username" ng-model="username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="password" required>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
        <input type="password" class="form-control" name="confirmPassword" ng-model="confirmPassword" required>
    </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Submit</button>
      </div>
  </form>
</div>