

			.text-center {
			  text-align: center;
			}
			.nav.navbar-nav.navbar-right li a {
			    color: gray;
			}
			.navbar-default .navbar-nav > li > a:hover,
			.navbar-default .navbar-nav > li > a:focus {
			    color: black;
			}
			.carousel-inner{
			  width: 120%;
			  margin-left: -10%;
			  height: 300px;
			}
			
			@media (min-width: 768px){
			  .carousel-inner{
			    width: 100%;
			    margin: 0;
			  }
			}
			
			 .navbar-fixed-top {
			    min-height: 70px;
			}
			
			.navbar-fixed-top .navbar-collapse {
			    max-height: 80px;
			    margin-top: 1%;
			}
			
			@media (min-width: 768px) {
			    .navbar-fixed-top .navbar-collapse {
			        max-height: 50px;
			    }
			}