.fa-angle-left:before {
	content: "\f104";
  color: black;
}
.fa-angle-right:before {
  content: "\f105";
  color: black;
}
.list-style{
	list-style: none;
	font-weight: 700;
	padding: 0px;
}
.list-style li{
	margin-bottom: 9px;
	padding: 10px;
}
.list-style li:nth-child(n){
	background: #66cc99;
	
}
.list-style li:nth-child(2n){
	background: #66b3ff;
	
}
.panel-body{
	padding: 10px !important;
}
.anim-slider{background-color: #fff;}


 @media (min-width: 481px) and (max-width: 767px) {
  .anim-slider {
    width: auto;
    height: 250px;
  }
  #c1,#c2,#c3,#c4,#c5,#c6,#c7,#c8,#c9{
  	top: 15% !important
  }
}
@media (max-width: 480px) {
  .anim-slider {
    width: auto;
    height: 150px;
  }
  #c1,#c2,#c3,#c4,#c5,#c6,#c7,#c8,#c9{
  	top: 15% !important
  }
} 
.anim-slide{opacity: 0;}
.anim-slide-this{opacity: 1;}

.anim-slide img#slide_2_1{left: 0%;top: 25%; opacity: 0.6;}
.anim-slide img#slide_2_2{left: 0%;top: 45%; opacity: 0.6;}
.anim-slide img#c1{left: 60%;top: 5%; }
.anim-slide img#c2{left: 60%;top: 5%; }
.anim-slide img#c3{left: 60%;top: 5%; }
.anim-slide img#c4{left: 60%;top: 5%; }
.anim-slide img#c5{left: 60%;top: 5%; }
.anim-slide img#c6{left: 60%;top: 5%; }
.anim-slide img#c7{left: 60%;top: 5%; }
.anim-slide img#c8{left: 60%;top: 5%; }
.anim-slide img#c9{left: 60%;top: 5%; }
.anim-slide img#c10{left: 60%;top: 5%; }

li.anim-slide:nth-of-type(1){background:#fff url("../img/aboutus.png") ; width: 100%; background-size: contain; background-repeat: no-repeat; background-position: center;}
li.anim-slide:nth-of-type(2){background:#fff url("../img/slide2.jpg") ; width: 100%; background-size: contain; background-repeat: no-repeat; background-position: center;}


/* li.anim-slide:nth-of-type(2)>h1
{
	position: static;
	display: inline-block;
	margin: 0;
	font-size:40px;
	padding: 0px 25px;
}
h1#looks{background-color:#3498db;color:#fff;}
h1#amazing{background-color:#34495e;color:#fff;margin: 0px -5px;}
h1#place{background-color:#3498db;color:#fff;} */

/* li.anim-slide:nth-of-type(2)>h2
{
	margin: 0;
	font-size:20px;
	color: #000;
	padding: 0px 5px;
} */

/* li.anim-slide:nth-of-type(2)>div
{
	width: 100%;
	height: 100%;
}
div#img1{background:#fff url("../img/challenge_1.jpg") 100%/cover; top: 37%;left:25%;}
div#img2{background:#fff url("../img/challenge_2.jpg") 100%/cover; top: 37%;left:30%;}
div#img3{background:#fff url("../img/challenge_3.jpg") 100%/contain; top: 37%;left:35%;}

li.anim-slide:nth-of-type(3)>h1
{
	margin: 0;
	font-size:60px;
	color: #225A86;
}
h1#T{top:30%;left:25%;}
h1#r{top:30%;left: 28%;}
h1#y{top:30%;left: 30%;}
h1#i{top:30%;left: 35%;}
h1#t{top:30%;left: 37%;}
h1#mark{top:30%;left: 39%;} 

div#demo{text-align: center;}
div#demo>a{display:inline-block;text-decoration: none;}
div#demo>a>h4{padding: 5px 8px;margin: 20px;background-color: #225A86;color: #fff;box-shadow:inset 0 -2px 0 rgba(0,0,0,0.15);}
p#credits{z-index:-1;position: fixed;bottom: 0px;width: 100%;text-align: center;font-size: 14px;}
p#credits>a{font-weight: bold;color: #999;text-decoration: none;}
img#github-logo{z-index:-1;position: fixed;bottom: -20px;right: 2%;opacity: 0.4;}*/